{% extends'@Exell/layoutConsultList.html.twig' %}

{% block title %}

{% endblock %}

{% block list_body %}
    <!--NAV BAR-->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('exell_homepage') }}">
                    <img src="{{ asset('bundles/exell/image/exell.jpg') }}"  class="logoexell"  alt="Exell-Immo">
                </a>

            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li id="Accueil" class=""><a href="{{ path('exell_homepage') }}">Accueil</a></li>
                    <li id="lots"><a href="{{ path('exell_list') }}">Voir les lots</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mon compte <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><p class="whoami">Vous êtes : {{ app.user.username }}</p></li>
                                <li class="divider"></li>
                                <li class=""><a href="{{ path('exell_account') }}">Voir les réservations</a></li>
                                <li></li>
                                <li class="divider"></li>
                                <li class="documents" ><a href="{{ path('documents_user') }}"> Mes documents</a></li>
                                <li class="divider"></li>
                                <li id="Connect"><a href="{{ path('fos_user_security_logout') }}">Se deconnecter</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li id="Connect"><a href="{{ path('fos_user_security_login') }}">Connecter</a></li>
                    {% endif %}
                    <li class="iconNav"><a href="{{ path('how_to_reserver') }}"><i class="fas fa-question-circle"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6">Photo du site</div>
            <div class="col-md-6">
                <h1>
                    Exell Votre partenaire pour investir.
                </h1>
                <p>Cette platemeforme d'Exell vous permet de réserver le lot de votre choix dans la résidence de votre choix,
                et de vous faire accompagner le plus simplement afin que les démarches soient le plus aisé possible.</p>
                <h3>Plusieurs étapes sont à respecter :</h3>
                <ul>
                    <li>Créer son compte (Il vous permet de voir les lots disponible et de les optionner)</li>
                    <li>Ajouter vos pièces du dossier ( Carte identité ect)</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h1>Un interface simple d'utilisation.</h1>
                <p>Sur la partie recherche, vous pouvez faire des recherches à l'aide du type d'investissement que vous souhaitez( Pinel,Malraux) et du département voulue </p>
            </div>
            <div class="col-md-6">test4</div>
        </div>
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                Vous avez vu le lot de vos rêves ? Réservez le ! Le lot est alors enregistré et cela permet aux administrateurs du site de vous contactez pour ce lot spécifique.
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Pour voir les Lots que vous avez reservé il vous suffit d'aller dans la partie "Voir les réservations" pour voir tous les lots optionné.
                Vous pouvez également supprimer une résevation en cliquant sur le bouton : Annuler la réservation.
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
{% endblock %}