{% trans_default_domain 'FOSUserBundle' %}
<div class="login-contaier">
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
    <div class="login-help">
        <a class="btn btn-info" href="{{ path('exell_homepage') }}">Accueil</a>
    </div>
</div>